@import "antd/dist/antd.css";

.header {
  background-color: #1890ff2e;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px 0;
  margin-bottom: 20px;
  border-radius: 2%;
  height: 100px;
}
.container {
  max-width: 500px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 1px solid steelblue;
  padding: 30px;
  border-radius: 5px;
}
.title {
  display: flex;
}
.todo {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.delete-todo {
  display: block;
}
.delete-todo:hover {
  color: red;
  transition-duration: 500ms;
  font-size: larger;
}

.add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.m20 {
    margin: 15px 0;
}


